<div *ngIf="viewMode; else editable">


  <div *ngIf="!currentTutorial">
    <br />
    <p>Please click on a Blog...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentTutorial.id" class="edit-form">
    <h4>Blog</h4>
    <form>
      <div class="form-group">
        <label><strong>Title</strong></label>
        <input type="text" class="form-control" id="title"
          [(ngModel)]="currentTutorial.title" name="title" />
      </div>
      <div class="form-group">
        <label><strong>Description</strong></label>
        <input type="text" class="form-control" id="content"
          [(ngModel)]="currentTutorial.content" name="content" />
      </div>
      <div class="form-group">
        <label><strong>Author</strong></label>
        <input type="text" class="form-control" id="author"
        [(ngModel)]="currentTutorial.author" name="author" />
      </div>

      <div class="form-group">
        <label><strong>Category</strong></label>
        <select class="form-control" id="category" [(ngModel)]="currentTutorial.category" name="category">
          <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
        </select>
      </div>
    </form>

    <button class="badge badge-danger mr-2" (click)="deleteTutorial()">Delete</button>

    <button type="submit" class="badge badge-success mb-2" (click)="updateTutorial()">Update</button>

    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentTutorial.id">
    <br />
    <p>Cannot access this Blog...</p>
  </div>
</ng-template>
